/* outline
offset */
/*Whats the difference between border and outline?
You can use the outline-offset to move out further from the content*/
.buttons{
  margin:3rem;
}

a{
  background: #689f3f;
  text-decoration: none;
  padding : 1.2rem 1.5rem;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 20px;
}

#one {
  border: 0.2rem solid black;
}
#two {
  outline-width: 0.2rem;
  outline-style: solid;
  outline-color: black;
  outline: 0.2rem solid black;
/*   the first outline offset will be overridden by the second code */
  outline-offset: 10px ;
  outline-offset: -10px;
}
